:root {
  /* Font Styles */
  --font-brand: "Josefin Sans", sans-serif;

  /* Brand Colors */
  --color-brand-primary: #0000ff;
  --color-brand-secondary: #d34312;

  /* Accent Colors */
  --color-bg-accent-1: #fbffa7;
  --color-bg-accent-2: #b6ffc0;
  --color-bg-accent-3: #d5b3ff;
  --color-bg-accent-4: #b1c5ff;

  /* Borders and Shadows */
  --border-separator: 2px solid #eee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-brand);
}

body {
  height: 3000px;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

section {
  padding: 2rem 0;
}

/* HEADER STYLING STARTS HERE */
.header {
  height: 10.5vh;
  border-bottom: var(--border-separator);
  padding: 0 2rem;
  margin-bottom: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar div:first-child {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 2.5rem;
}

.navbar div:last-child {
  display: flex;
  height: 100%;
}

#logo {
  width: 70px;
  height: 100%;
  background-image: url(../assets/icons/ableton-logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* HERO SECTION STYLING */
.hero .container {
  width: 90%;
  margin: auto;
  height: 85vh;
  background-image: url(../assets/stock_images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  color: var(--color-brand-secondary);
  font-size: 8rem;
}
