.wrapper {
  width: min(1100px, 90%);
  margin: auto;
  border: 1px solid red;
}

.highlight-primary {
  color: var(--color-brand-primary);
}

.highlight-secondary {
  color: var(--color-brand-secondary);
}

.text-small {
  font-size: 0.9375rem;
}

.text-medium {
  font-size: 1.2rem;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.font-icon {
  margin-left: 0.2rem;
}
